<h1>Listing fumbls</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fumbls.each do |fumbl| %>
  <tr>
    <td><%= link_to fumbl.title, fumbl %></td>
    <td>[<%= link_to 'Edit', edit_fumbl_path(fumbl) %></td>
    <td><%= link_to 'Destroy', fumbl, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fumbl', new_fumbl_path %>
